
.App {
  text-align: center;
  height: 100%;
}
*{
  margin: 0;
  padding:0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.todolist{
  position: absolute;
  width:100%;
  top:220px;
  bottom: 0;
  /* margin-top:30px; */
  border:1px solid #000;
}
.header{
  position: relative;
  z-index: 1;
  text-align:left;
  width: 100%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0));
  background-image: linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0));
  border-bottom: 1px solid hsl(0, 0%, 80%);
  -webkit-box-shadow: 0 3px 5px hsl(0, 0%, 91%);
  box-shadow: 0 3px 5px hsl(0, 0%, 91%);
}
.ac-btn{
  background:#fff;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 100px;
  color:#fff;
  text-align: center;
  line-height: 30px;
  top:20px;
  cursor: pointer;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0));
  background-image: linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0));
}
.ac-btn:hover{
  background-image: linear-gradient( hsla(0, 0%, 100%, 0),hsla(0, 0%, 100%, .6));
  background-image: -webkit-linear-gradient( hsla(0, 0%, 100%, 0),hsla(0, 0%, 100%, .6));

}
.ye-btn{
  margin-right:120px; 
}
.all-btn{
  margin-right: 240px;
}
.header h2{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  text-align: left;
}
.add1{
  position: absolute;
  right: 18px;
  top:9px;
  width: 26px;
  height: 26px;
  line-height: 24px;
  font-size:100%;
  border:3px solid #fff; 
  border-radius: 50%; 
  text-align: center;
  font-weight: 900;
  color:#aee;
  cursor: pointer;
} 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
